<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>simple-todos</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
</head>

<body>
<div class="container-fluid" ng-app="simple-todos">
    <div class="row">
        <div class="col-xs-12 col-lg-6 col-lg-offset-3 todoList-container">
            <todos-list></todos-list>
        </div>
    </div>
</div>
</body>
