@import "{}/node_modules/bootstrap/scss/bootstrap.scss";
/* CSS declarations go here */
body {
  font-family: sans-serif;
  background-color: #9fe2ff;
  font-size: 14px;
}

.todoList-container
{
  margin-top: 25px;
}

.btnHide
{
  margin-top: 5px;
}

.btnDelete
{
  margin-right: 5px;
}

.toggle-private
{
  vertical-align: top;
  float: right;
}
.list-group
{
  margin-top: 15px;
}

header
{

}

