<div class="card">
    <div class="card-block">
            <h1 class="card-title">My Todo List </h1>
            <h4 class="card-subtitle mb-2 text-muted">Reaming Tasks ( {{todoListvm.incompleteCount}} )</h4>
            <div class="btn-group btnHide" data-toggle="buttons">
                <label class="btn btn-primary">
                    <input type="checkbox" autocomplete="off" ng-model="todoListvm.hideCompleted"/>
                    Hide Completed Tasks
                </label>
            </div>
            <login-buttons></login-buttons>
            <form class="new-task" ng-submit="todoListvm.addTask(todoListvm.newTask)" ng-show="todoListvm.currentUser">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon3">Type to add new tasks</span>
                    <input class="form-control" ng-model="todoListvm.newTask" type="text" name="text"
                           aria-describedby="basic-addon3"/>
                </div>
            </form>
        <ul class="list-group list-group-flush">
            <li class="list-group-item" ng-repeat="task in todoListvm.tasks"
                ng-class="{'checked': task.checked, 'private': task.private}">
                <div>
                    <div class="btn-group" data-toggle="buttons">
                        <button class="btn btn-danger btn-sm btnDelete" ng-click="todoListvm.removeTask(task)">
                            &times;
                        </button>
                        <label class="btn btn-primary btn-sm">
                            <input type="checkbox" ng-checked="task.checked" ng-click="todoListvm.setChecked(task)"
                                   class="toggle-checked"/>
                            {{ task.checked == true ? "Finished" : "Complete"}}
                        </label>
                    </div>

                    <span ><strong><p class="hidden-md-down">{{task.username}}</p></strong> - {{task.text}}</span>

                    <button class="btn btn-primary btn-sm toggle-private hidden-md-down" ng-click="todoListvm.setPrivate(task)"
                            ng-show="task.owner === todoListvm.currentUser._id">
                        {{task.private == true ? "Private" : "Public"}}
                    </button>
                </div>
            </li>
        </ul>
    </div>
</div>